_*.txt
tmp
*.pyc
*.png
*.bin
_build*
*.xyz
*.out
!unittests/test_libra_py/test_packages/test_openmolcas/reference/*.out
!unittests/test_libra_py/test_packages/test_openmolcas/reference/**/*.out
*.cube
Ham_vib_*
*.exe
*build*
